.page-list {
  flex: 1;
}

.page-list .page-option {
  display: flex;
  align-items: center;
  gap: 0.75rem;

  cursor: pointer;
}

.page-list .page-option:hover,
.page-list .page-option.active {
  background-color: var(--color-background-secondary);
}

.page-list .page-option a {
  display: flex;
  justify-content: space-between;

  width: 100%;
  height: 100%;
  padding-block: 0.75rem;
  padding-inline: 1.5rem;
}

.page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;

  width: 100%;
  height: 100%;
  background-color: var(--color-background);
}

.page-content .page-head {
  display: flex;
  align-items: center;
  gap: 0.75rem;

  width: 100%;
  padding-bottom: 1.5rem;
  border-bottom: 2px solid var(--color-foreground-secondary);
}

.page-content .page-head button {
  display: none;
  place-items: center;
}

.page-content .page-head button .icon {
  width: 2rem;
  height: 2rem;
}

.page-content section {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  width: 100%;
  padding: 1rem;
  border: 2px solid var(--color-foreground-secondary);
  border-radius: 0.5rem;
}

.page-content section .settings {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  width: 100%;
}

.page-content section .settings .setting-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  width: 100%;
}

.page-content section .settings .setting-item .setting-label {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 0.25rem;

  min-width: 0;
}

.page-content section .settings .setting-item .setting-label .setting-value {
  flex: 1;

  color: var(--color-foreground);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 1024px) {
  .page-content .page-head h2 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  .page-content {
    width: 100%;
    height: 100%;
  }

  .page-content .page-head {
    padding: 1rem;
  }

  .page-content .page-head button {
    display: grid;
  }

  .page-content section {
    width: calc(100% - 2rem);
  }
}
