# Server.
PORT=********
PASSWORD_SALT=********
SESSION_SECRET=********

# DATABASE.
DATABASE_HOST=********
DATABASE_PORT=********
DATABASE_USER=********
DATABASE_PASSWORD=********
DATABASE_NAME=********

# SMTP.
SENDGRID_API_KEY=********
YAPPER_EMAIL=********

# STORAGE.
CLOUDFLARE_ACCOUNT_ID=********
CLOUDFLARE_ACCESS_KEY_ID=********
CLOUDFLARE_SECRET_ACCESS_KEY=********
CLOUDFLARE_R2_BUCKET_NAME=********