.app {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;

  width: 100dvw;
  max-width: 1440px;
  height: 100dvh;
  max-height: 1280px;
  overflow: hidden;
  margin-inline: auto;
}

.app .left-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  width: fit-content;
  height: 100%;
}

.app .left-bar .controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.app .left-bar .controls .control {
  width: 3rem;
  height: 3rem;
  overflow: hidden;
}

.app .left-bar .controls .control .icon {
  width: 100%;
  height: 100%;
}

.app .app-controls {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  width: 380px;
  height: 100%;
  border-right: 2px solid var(--color-foreground-secondary);
  border-left: 2px solid var(--color-foreground-secondary);
}

.app .app-controls .head {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding-inline: 1.5rem;
}

.app .app-controls .head .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.app .app-controls .head .wrapper button {
  display: grid;
  place-content: center;
}

.app .app-controls .head .wrapper .icon {
  width: 2rem;
  height: 2rem;
}

.app .content-wrapper {
  flex: 1;
  height: 100%;
}

.app .app-controls .head .searchbar {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  padding: 0.5rem 1rem;
  border: 2px solid var(--color-foreground-secondary);
  border-radius: 0.5rem;
}

.app .app-controls .head .searchbar .icon {
  width: 1.5rem;
  height: 1.5rem;
}

.app .app-controls .head .searchbar .search-input {
  flex: 1;
}

@media screen and (max-width: 1024px) {
  .app .app-controls {
    width: 320px;
  }
}

@media screen and (max-width: 768px) {
  .app {
    gap: 0;
    padding-inline: 0;
  }

  .app .left-bar {
    display: none;
  }

  .app .app-controls {
    width: 100%;
    border: none;
  }

  .app .content-wrapper {
    position: fixed;
    top: 0;
    left: 100%;

    width: 100dvw;
    height: 100dvh;
  }
}
