.app {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;

  width: 100dvw;
  max-width: 1440px;
  height: 100dvh;
  max-height: 1280px;
  overflow: hidden;
  margin-inline: auto;
}

.app .left-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  width: fit-content;
  height: 100%;
}

.app .left-bar .controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.app .left-bar .controls .control {
  width: 3rem;
  height: 3rem;
  overflow: hidden;
}

.app .left-bar .controls .control .icon {
  width: 100%;
  height: 100%;
}

.app .app-controls {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  width: 380px;
  height: 100%;
  border-right: 2px solid var(--color-foreground-secondary);
  border-left: 2px solid var(--color-foreground-secondary);
}

.app .app-controls .head {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding-inline: 1.5rem;
}

.app .content-wrapper {
  flex: 1;
  height: 100%;
}
