body {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.page {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  width: 100%;
  max-width: 1280px;
  margin-inline: auto;
}

.page .heading {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  width: 100%;
  max-width: 768px;
}

.page #form {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 3rem;

  width: 100%;
  max-width: 768px;
}

.page #form .inputs-group {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 1.5rem;

  width: 100%;
}

.page #form .btn-group {
  width: 100%;
}

.entry {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  width: 100%;
  cursor: text;
}

.entry .label {
  font-weight: 600;
  color: var(--color-foreground-secondary);
  cursor: inherit;
}

.entry .input-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  width: 100%;
  padding: 0.8rem;
  border: 2px solid var(--color-foreground-secondary);
  border-radius: 0.5rem;
  cursor: inherit;
}

.entry .input-wrapper input {
  flex: 1;

  color: var(--color-foreground);
}

.entry .input-wrapper .input::placeholder {
  color: var(--color-foreground-secondary);
}

.entry.error .label {
  color: var(--color-danger);
}

.entry.error .input-wrapper {
  border-color: var(--color-danger);
}

.entry:focus-within .label {
  color: var(--color-foreground);
}

.entry:focus-within .input-wrapper {
  border-color: var(--color-foreground);
}

.entry .password-visibility-btn {
  display: grid;
  place-items: center;

  cursor: pointer;
}

.entry .password-visibility {
  width: 1rem;
  height: 1rem;
  background-color: transparent;
  color: transparent;
}

.entry input[type='password'] + .password-visibility-btn .password-visibility.eye-close-svg {
  display: none;
}

.entry input[type='password'] + .password-visibility-btn .password-visibility.eye-open-svg {
  display: block;
}

.entry input[type='text'] + .password-visibility-btn .password-visibility.eye-close-svg {
  display: block;
}

.entry input[type='text'] + .password-visibility-btn .password-visibility.eye-open-svg {
  display: none;
}

.entry .password-visibility .password-eye-stroke {
  stroke: var(--color-foreground-secondary);
}

.entry .password-visibility .password-eye-fill {
  fill: var(--color-foreground-secondary);
}

.entry.error .password-visibility-btn .password-eye-stroke {
  stroke: var(--color-danger);
}

.entry.error .password-visibility-btn .password-eye-fill {
  fill: var(--color-danger);
}

.entry:focus-within .password-visibility .password-eye-stroke,
.entry .password-visibility-btn:hover .password-eye-stroke,
.entry .password-visibility-btn:focus .password-eye-stroke {
  stroke: var(--color-foreground);
}

.entry:focus-within .password-visibility .password-eye-fill,
.entry .password-visibility-btn:hover .password-eye-fill,
.entry .password-visibility-btn:focus .password-eye-fill {
  fill: var(--color-foreground);
}

.error-text {
  display: none;
  font-size: 12px;
  font-weight: 400;
  color: var(--color-danger);
}

.entry.error .error-text {
  display: block;
}

.checkbox {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  width: fit-content;
  cursor: pointer;
}

.checkbox-ui {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  width: fit-content;
}

.checkbox .checkbox-input {
  position: fixed;
  left: -9999px;
}

.checkbox-icon {
  width: 1rem;
  height: 1rem;
}

.checkbox .checkbox-input:checked ~ .checkbox-filled-icon {
  display: block;
}

.checkbox .checkbox-input:checked ~ .checkbox-empty-icon {
  display: none;
}

.checkbox .checkbox-input:not(:checked) ~ .checkbox-filled-icon {
  display: none;
}

.checkbox .checkbox-input:not(:checked) ~ .checkbox-empty-icon {
  display: block;
}

.checkbox .label {
  color: var(--color-foreground-secondary);
  font-weight: 400;
}

.checkbox.error .error-text {
  display: block;
}

@media screen and (max-width: 768px) {
  .page #form {
    align-items: center;
  }

  .page #form .btn-group .btn:last-child {
    display: none;
  }
}
