/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* Color Scheme Setup */

/* Custom Color Propertise */
:root {
  --color-light: #fff8d4;
  --color-light-secondary: #a3b087;
  --color-dark: #313647;
  --color-dark-secondary: #435663;
  --color-success: #1f7d53;
  --color-danger: #f7374f;
}

:root {
  --color-background: var(--color-light);
  --color-background-secondary: var(--color-light-secondary);
  --color-foreground: var(--color-dark);
  --color-foreground-secondary: var(--color-dark-secondary);
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--color-dark);
    --color-background-secondary: var(--color-dark-secondary);
    --color-foreground: var(--color-light);
    --color-foreground-secondary: var(--color-light-secondary);
  }
}

/* Light Mode */
:root[data-theme='light'] {
  --color-background: var(--color-light);
  --color-background-secondary: var(--color-light-secondary);
  --color-foreground: var(--color-dark);
  --color-foreground-secondary: var(--color-dark-secondary);
}

/* Dark Mode */
:root[data-theme='dark'] {
  --color-background: var(--color-dark);
  --color-background-secondary: var(--color-dark-secondary);
  --color-foreground: var(--color-light);
  --color-foreground-secondary: var(--color-light-secondary);
}

/* Global Style Reset */
* {
  box-sizing: border-box;
  background-color: transparent;
  padding: 0;
  border: none;
  border-radius: 0;
  outline: none;
  margin: 0;

  font-size: 16px;
  font-weight: 400;
  font-family: 'Nunito', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: var(--color-foreground);
  list-style-type: none;
  text-decoration: none;
}

*::selection {
  color: var(--color-background);
  background-color: var(--color-foreground);
}

body {
  width: 100dvw;
  background-color: var(--color-background);
  padding: 1.5rem 1rem;
  overflow-x: hidden;
}

h1 {
  font-family: 'Alexandria', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 3rem;
}

h2 {
  font-family: 'Alexandria', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 2rem;
}

h3 {
  font-family: 'Alexandria', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 1.5rem;
}

h4 {
  font-family: 'Alexandria', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 1rem;
}

a {
  font: inherit;
}

button {
  cursor: pointer;
}

p {
  text-align: justify;
  color: var(--color-foreground-secondary);
  line-height: 180%;
}

p:first-of-type {
  margin-bottom: 0.5rem;
}

p:last-of-type {
  margin-top: 0.5rem;
}

p:not(:first-of-type) + p:not(:last-of-type) {
  margin-block: 0.5rem;
}

p:only-of-type {
  margin-block: 0;
}

span {
  font: inherit;
  color: inherit;
}

.btn {
  display: block;

  width: fit-content;
  height: fit-content;
  background-color: transparent;
  padding: 0.5rem 1.5rem;
  border: 2px solid transparent;
  border-radius: 0.5rem;
  font-weight: 800;
  text-align: center;
  transition:
    background-color 300ms ease-out,
    border-color 300ms ease-out;
}

.btn.primary {
  color: var(--color-background);
  background-color: var(--color-foreground);
  border-color: var(--color-foreground);
}

.btn.primary:hover,
.btn.primary:focus-visible {
  color: var(--color-foreground);
  background-color: transparent;
}

.btn.outline,
.btn.outline {
  border-color: var(--color-foreground);
}

.btn.outline:hover,
.btn.outline:focus-visible {
  color: var(--color-background);
  background-color: var(--color-foreground);
}

.btn.danger {
  color: var(--color-background);
  background-color: var(--color-danger);
  border-color: var(--color-danger);
}

.btn.danger:hover,
.btn.danger:focus-visible {
  color: var(--color-danger);
  background-color: transparent;
}

.btn.success {
  color: var(--color-background);
  background-color: var(--color-success);
  border-color: var(--color-success);
}

.btn.success:hover,
.btn.success:focus-visible {
  color: var(--color-success);
  background-color: transparent;
}

.btn:disabled {
  opacity: 0.6 !important;
  outline-color: transparent !important;
  outline-offset: 0 !important;
  pointer-events: none;
}

.btn-group {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.btn-group .btn {
  flex: 1;
  min-width: fit-content;
}

.btn-group.reverse {
  flex-direction: row-reverse;
}

span.highlight {
  color: var(--color-foreground);
  font-weight: 600;
}

.container {
  max-width: 1280px;
  margin-inline: auto;
}

.underline {
  text-decoration: underline;
}

.hidden {
  display: none !important;
}

.fill-foreground {
  fill: var(--color-foreground);
}

.stroke-foreground {
  stroke: var(--color-foreground);
}

.fill-foreground-secondary {
  fill: var(--color-foreground-secondary);
}

.stroke-foreground-secondary {
  stroke: var(--color-foreground-secondary);
}

.fill-background {
  fill: var(--color-background);
}

.stroke-background {
  stroke: var(--color-background);
}

.fill-background-secondary {
  fill: var(--color-background-secondary);
}

.stroke-background-secondary {
  stroke: var(--color-background-secondary);
}

.separator {
  background-color: var(--color-foreground);
  border-radius: 1px;
}

.horizontal {
  width: 100%;
  max-width: 1280px;
  height: 1px;
  margin-inline: auto;
}

.article-page {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  width: 100%;
  max-width: 1280px;
  margin-inline: auto;
}

.headed-para {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.user-icon {
  display: grid;
  place-items: center;

  width: 3rem;
  height: 3rem;
  background-color: var(--color-foreground-secondary);
  border-radius: 50%;
  overflow: hidden;
}

.user-icon .user-initial {
  font-size: 2rem;
  font-weight: 600;
  color: var(--color-background);
}

@media screen and (max-width: 768px) {
  body {
    padding: 1rem;
  }

  h1 {
    font-size: 2rem;
  }
}
