.hero {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;

  width: 100%;
  max-width: 1280px;
  margin-inline: auto;
}

.hero .copy {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.hero > .illustration {
  flex: 1;
  height: auto;
}
