.hero {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;

  width: 100%;
  max-width: 1280px;
  margin-inline: auto;
}

.hero .copy {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.hero > .illustration {
  flex: 1;
  height: auto;
}

@media screen and (max-width: 1024px) {
  .hero {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: end;
  }

  .hero > .illustration {
    width: auto;
  }
}

@media screen and (max-width: 768px) {
  .hero > .illustration {
    max-height: 180px;
  }

  .hero .copy .btn-group .btn:last-child {
    display: none;
  }
}
