.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  max-width: 1280px;
  margin-inline: auto;
}

.navbar .logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.navbar .logo .icon {
  width: 4rem;
  height: 4rem;
}

@media screen and (max-width: 768px) {
  .navbar .logo .icon {
    width: 3rem;
    height: 3rem;
  }

  .navbar .btn-group {
    display: none;
  }
}
