.user-icon {
  display: grid;
  place-items: center;

  width: 3rem;
  height: 3rem;
  background-color: var(--color-foreground-secondary);
  border-radius: 50%;
  overflow: hidden;
}

.user-icon.active {
  background-color: var(--color-foreground);
}

.user-icon .user-initial {
  font-size: 2rem;
  font-weight: 600;
  color: var(--color-background);
}
