.footer {
  display: flex;
  gap: 8rem;

  width: 100%;
  max-width: 1280px;
  padding-bottom: 8rem;
  margin: auto;
}

.footer .section {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  max-width: 320px;
}

.footer .section .brand {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.footer .section .brand .icon {
  width: 2.5rem;
  height: 2.5rem;
}

.footer .section .socials {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.footer .section .socials .icon {
  width: 2rem;
  height: 2rem;
}

.footer .section .nav-links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer .section .nav-links .nav-link {
  font-weight: 300;
  transition: font-weight 200ms ease-out;
}

.footer .section .nav-links .nav-link:hover {
  font-weight: 400;
}
