extends layouts/app

include svgs/video
include svgs/more-vertical
include svgs/plus
include svgs/send
include svgs/arrow-back

block page-styles 
  link(rel="stylesheet", href="/css/account.css")

block page-controls 
  ul.page-list 
    li.page-option.active 
      a(href="/settings/account") Account
    li.page-option 
      a(href="/premium") Premium


block content
  .page-content 
    header.page-head 
      button 
        +arrowBack('icon', 'fill-foreground-secondary', 'stroke-foreground-secondary')
      
      h2 Account 
