extends layouts/auth

include components/entry
include svgs/checkbox
include svgs/checkedbox

block scripts 
  script(src="https://unpkg.com/validator@latest/validator.min.js")

block content 
  main.page 
    header.heading
      h2 Change Your Password 
      p Your password keeps your chats safe—update it anytime.
    
    form#form
      section.inputs-group 
        +entry("newPassword", "New Password", "********", "password", "password")

        +entry("confirmNewPassword", "Confirm New Password", "********", "password", "password")

      .btn-group.reverse
        button#submit.btn.primary Change Password
      
      p 
        span Done here?
        a.highlight(href="/login")  Return to Login
      