extends layouts/auth

include components/entry

block content 
  main#change-email.page
    ul.line-steps 

    header.heading
      h2 Enter your email
      p We'll send a verification code to your new email address to confirm the change.
    
    form.form
      +entry("email", "New Email", "johndoe@example.com")
      
      p 
        span You didn't mean to come here? 
        a.bold(href="/") Go back 

      .btn-group
        button.btn.primary Continue 
    
    form.form.hidden
      +entry("otp", "Verification code", "")
      
      p 
        span Didn't get the code? 
        button#resend-code.bold(type="button") Resend

      .btn-group.reverse
        button.btn.primary Update Email
        button.btn.outline.back(type="button") Back 
