extends layouts/auth

include components/entry

block content 
  main#change-password.page
    ul.line-steps 

    header.heading
      h2 Enter your email
      p We'll use your email to send a one-time verification code.
    
    form.form
      +entry("email", "Email", "johndoe@example.com")

      p 
        span You didn't mean to come here? 
        a.bold(href="/login") Go back

      .btn-group
        button.btn.primary Continue 
    
    form.form.hidden
      +entry("otp", "Verification code", "")

      p 
        span Didn't get the code? 
        button#resend-code.bold(type="button") Resend

      .btn-group.reverse
        button.btn.primary Continue 
        button.btn.outline.back(type="button") Back 
    
    form.form.hidden
      +entry("password", "New Password", "********", 'password')

      +entry("confirmPassword", "Confirm New Password", "********", 'password')

      .btn-group
        button.btn.primary Update Password 
