extends layouts/app

include svgs/video
include svgs/more-vertical
include svgs/plus
include svgs/send
include svgs/arrow-back
include svgs/empty-chat-illustration
include svgs/delete
include svgs/block

block page-styles 
  link(rel="stylesheet", href="/css/chat.css")

block page-scripts 
  script(src="https://unpkg.com/validator@latest/validator.min.js")
  
  script(type="module", src="/js/chatapp.js", defer) 

block page-controls 
  ul#chatslist.chats-list 

block content
  .chatapp.hidden#chatapp-ui  
    header.chat-head 
      .user 
        button.back#sidenav-btn 
          +arrowBack('icon', 'fill-foreground-secondary', 'stroke-foreground-secondary')
        
        .user-icon
          span.user-initial#chatapp-user-initial
        
        h2#chatapp-user-displayName
      
      .actions 
        button.icon-btn#btn-call-voice 
          +phone('icon', 'fill-foreground-secondary', 'stroke-foreground-secondary')
        
        button.icon-btn#btn-call-video 
          +video('icon', 'fill-foreground-secondary', 'stroke-foreground-secondary')
        
        div.dropdown#dropdown-chat-options
          button.icon-btn 
            +moreVertical('icon', 'fill-foreground-secondary', 'stroke-foreground-secondary')

          .dropdown-list.right 
            button.dropdown-item#btn-chat-delete
              +delete('icon', 'fill-foreground-secondary', 'stroke-foreground-secondary')
              span.label Delete Chat

            button.dropdown-item#btn-chat-block
              +block('icon', 'fill-foreground-secondary', 'stroke-foreground-secondary')
              span.label Block Chat 

            button.dropdown-item.hidden#btn-chat-unblock
              +block('icon', 'fill-foreground-secondary', 'stroke-foreground-secondary')
              span.label Unblock Chat 
      
      div.dropdown#dropdown-chat-mobile-options
        button
          +moreVertical('icon', 'fill-foreground-secondary', 'stroke-foreground-secondary')

        .dropdown-list.right 
          button.dropdown-item 
            +phone('icon', 'fill-foreground-secondary', 'stroke-foreground-secondary')
            span.label Voice Call
          
          button.dropdown-item 
            +video('icon', 'fill-foreground-secondary', 'stroke-foreground-secondary')
            span.label Video Call

          button.dropdown-item 
            +delete('icon', 'fill-foreground-secondary', 'stroke-foreground-secondary')
            span.label Delete Chat

          button.dropdown-item 
            +block('icon', 'fill-foreground-secondary', 'stroke-foreground-secondary')
            span.label Block Chat 

    section.messages

    form.controller#message-form
      label.file-label
        input#message-file-input(type="file")
        +plus('icon', 'fill-foreground-secondary', 'stroke-foreground-secondary')
      
      input.text-input#message-text-input(type="text", placeholder="Type your message...", autocomplete="off")

      button.send#message-send-btn
        +send('icon', 'fill-background', 'stroke-background')

  .chatapp-empty#chatapp-empty-ui
    h1 It's quiet here… 

    p Pick a user, say hello, and your conversation will show up here.
    
    +emptyChatIllustration("illustration")
