extends layouts/app

include svgs/empty-chat

block content
  aside#app-controls.chat-controls 
    header.head 
      h2 Chats

      .dropdown 
        button 
          span.material-icons more_vert
        
        ul.dropdown-list.right
          li.dropdown-item
            span.material-icons chat
            a(href="/chat") Chat
          
          li.dropdown-item
            span.material-icons call
            a(href="/calls") Calls
          
          li.dropdown-item
            span.material-icons settings
            a(href="/settings") Settings

    .btn-group
      button#btn-add-chat.btn.primary Add a Chat

    ul#chats-list.chats-list 
      li.chat.unread
        div.avatar
          span.initial Z
        
        div.user-content
          div.title
            span.bold Zain Khoso
            span.last-spoke Yesterday

          div.subtitle
            span.last-message Yo ho
            span.new-message-count 56
     
      li.chat
        div.avatar
          span.initial Z
        
        div.user-content
          div.title
            span.bold Zain Khoso
            span.last-spoke Yesterday

          div.subtitle
            span.last-message Yo ho
            span.new-message-count 56
    
      li.chat.unread
        div.avatar
          span.initial Z
        
        div.user-content
          div.title
            span.bold Zain Khoso
            span.last-spoke Yesterday

          div.subtitle
            span.last-message Yo ho
            span.new-message-count 56
    
      li.chat.active
        div.avatar
          span.initial Z
        
        div.user-content
          div.title
            span.bold Zain Khoso
            span.last-spoke Yesterday

          div.subtitle
            span.last-message Yo ho
            span.new-message-count 56

      .observed

  main#app-empty.chatapp-empty
    h1 It's quiet here… 

    p Pick a user, say hello, and your conversation will show up here.
    
    +emptyChat("illustration")
