extends layouts/app

include svgs/video
include svgs/more-vertical
include svgs/plus
include svgs/send
include svgs/arrow-back
include svgs/empty-chat-illustration
include svgs/delete
include svgs/block

block page-styles 
  link(rel="stylesheet", href="/css/chat.css")

block page-scripts 
  script(type="module", src="/js/chatapp.js", defer) 

block page-controls 
  ul#chatslist.chats-list 
    if (chatrooms.length > 0)
      li.chat 
        .user-icon 
          span.user-initial A
        
        .user-content 
          .title 
            span.highlight Adeen
            span.last-spoke Today
          
          span.last-message Mr. White 

      li.chat.active 
        .user-icon 
          span.user-initial H
        
        .user-content 
          .title 
            span.highlight Hamza
            span.last-spoke Sunday
          
          span.last-message Qari saab is after me 

      li.chat 
        .user-icon 
          span.user-initial Q
        
        .user-content 
          .title 
            span.highlight Qari Saab
            span.last-spoke Saturday
          
          span.last-message Hamza just block me 

block content
  .chatapp.hidden#chatapp-ui  
    header.chat-head 
      .user 
        button.back#sidenav-btn 
          +arrowBack('icon', 'fill-foreground-secondary', 'stroke-foreground-secondary')
        
        .user-icon 
          span.user-initial H 
        
        h2 Hamza 
      
      .actions 
        button.icon-btn 
          +phone('icon', 'fill-foreground-secondary', 'stroke-foreground-secondary')
        
        button.icon-btn 
          +video('icon', 'fill-foreground-secondary', 'stroke-foreground-secondary')
        
        div.dropdown#dropdown-chat-options
          button.icon-btn 
            +moreVertical('icon', 'fill-foreground-secondary', 'stroke-foreground-secondary')

          .dropdown-list.right 
            button.dropdown-item 
              +delete('icon', 'fill-foreground-secondary', 'stroke-foreground-secondary')
              span.label Delete Chat

            button.dropdown-item 
              +block('icon', 'fill-foreground-secondary', 'stroke-foreground-secondary')
              span.label Block Chat 
      
      div.dropdown#dropdown-chat-mobile-options
        button
          +moreVertical('icon', 'fill-foreground-secondary', 'stroke-foreground-secondary')

        .dropdown-list.right 
          button.dropdown-item 
            +phone('icon', 'fill-foreground-secondary', 'stroke-foreground-secondary')
            span.label Voice Call
          
          button.dropdown-item 
            +video('icon', 'fill-foreground-secondary', 'stroke-foreground-secondary')
            span.label Video Call

          button.dropdown-item 
            +delete('icon', 'fill-foreground-secondary', 'stroke-foreground-secondary')
            span.label Delete Chat

          button.dropdown-item 
            +block('icon', 'fill-foreground-secondary', 'stroke-foreground-secondary')
            span.label Block Chat 

    section.messages
      .message-wrapper.center 
        span.date-separator Today 

      .message-wrapper.left 
        .message-box 
          p.message-text Hey! Did you finish the login page?
          span.time-text 16:32
           
      .message-wrapper.right 
        .message-box 
          p.message-text Yup, just wrapped it up. Starting on the chat list UI now.
          span.time-text 16:32 

      .message-wrapper.left 
        .message-box 
          p.message-text Nicee. Send me a screenshot when you're done?
          span.time-text 16:33
           
      .message-wrapper.right 
        .message-box 
          p.message-text Sure thing. Also, should we keep the theme light or dark by default?
          span.time-text 16:33 

      .message-wrapper.left 
        .message-box 
          p.message-text Dark. Always dark 😆
          span.time-text 16:35
           
      .message-wrapper.right 
        .message-box 
          p.message-text Bet. Dark it is.
          span.time-text 16:40 

    form.controller
      label.file-label
        input#file-input(type="file")
        +plus('icon', 'fill-foreground-secondary', 'stroke-foreground-secondary')
      
      input.text-input(type="text", placeholder="Type your message...")

      button.send
        +send('icon', 'fill-background', 'stroke-background')

  .chatapp-empty.hidden#chatapp-empty-ui
    h1 It's quiet here… 

    p Pick a user, say hello, and your conversation will show up here.
    
    +emptyChatIllustration("illustration")
