extends layouts/app

include svgs/empty-chat

block content
  aside#app-controls.chat-controls 
    header.head 
      h2 Chats

      .dropdown 
        button 
          span.material-icons more_vert
        
        ul.dropdown-list.right
          li.dropdown-item
            span.material-icons chat
            a(href="/chat") Chat
          
          li.dropdown-item
            span.material-icons call
            a(href="/calls") Calls
          
          li.dropdown-item
            span.material-icons settings
            a(href="/settings") Settings

    .btn-group
      button#btn-add-chat.btn.primary Add a Chat

    ul#chats-list.chats-list 
      .observed

  main#app.chatapp  
    header.head 
      section.left 
        button#btn-open-sidenav
          span.material-icons arrow_back
        
        .avatar.fallback
          span.initial Y
        
        h2#app-user-displayName Yapper User
      
      section.right 
        button#btn-call-voice.icon-btn 
          span.material-icons call
        
        button#btn-call-video.icon-btn
          span.material-icons video_call
        
        div#dropdown-chat-options.dropdown
          button.icon-btn 
            span.material-icons more_vert

          .dropdown-list.right
            button#btn-chat-block.dropdown-item
              span.material-icons block
              span.label Block Chat 

            button#btn-chat-unblock.dropdown-item
              span.material-icons do_not_disturb_on
              span.label Unblock Chat 

      section#dropdown-mobile-chat-options.dropdown
        button.icon-btn 
          span.material-icons more_vert

        .dropdown-list.right
          button#btn-mobile-chat-block.dropdown-item
            span.material-icons call
            span.label Voice Call 

          button#btn-mobile-chat-unblock.dropdown-item
            span.material-icons video_call
            span.label Video Call 

          button#btn-mobile-chat-block.dropdown-item
            span.material-icons block
            span.label Block Chat 

          button#btn-mobile-chat-unblock.dropdown-item.hidden
            span.material-icons do_not_disturb_on
            span.label Unblock Chat 

    section.messages

    form#message-form.controller
      label.file-label
        input#message-file-input(type="file")
        span.material-icons attach_file
      
      textarea#message-text-input.text-input(placeholder="Type your message...", autocomplete="off", rows=1)

      button#message-send-btn.send
        span.material-icons send

  main#app-empty.hidden.chatapp-empty
    h1 It's quiet here… 

    p Pick a user, say hello, and your conversation will show up here.
    
    +emptyChat("illustration")
