extends layouts/auth

include components/entry
include svgs/checkbox
include svgs/checkedbox

block scripts 
  script(src="https://unpkg.com/validator@latest/validator.min.js")

  script(type="module", src="/js/create-account.js", defer) 

block content 
  main.page 
    header.heading
      h2 Create your Yapper account
      p Join the simplest chat experience built for fun, learning, and quick conversations.
    
    form#form
      section.inputs-group 
        +entry("email", "Email", "abc@xyz.com")

        +entry("displayName", "Display Name", "Abc Xyz")

        +entry("password", "Password", "********", "password", "password")

        +entry("confirmPassword", "Confirm Password", "********", "password", "password")

        
        label.checkbox
          .checkbox-ui
            input(type="checkbox", id="terms", class='checkbox-input')

            +checkbox('checkbox-empty-icon')

            +checkedBox('checkbox-filled-icon')
            
            label.label(for="terms") 
              span I agree to the 
              a.highlight(href="/terms-and-conditions", target="_blank") Terms and Conditions
              span  of Yapper.
          label.error-text(for="terms")

        label.checkbox
          .checkbox-ui
            input(type="checkbox", id="policies", class='checkbox-input')

            +checkbox('checkbox-empty-icon')

            +checkedBox('checkbox-filled-icon')

            label.label(for="policies") 
              span I agree to the 
              a.highlight(href="/privacy-policy", target="_blank") Privacy Policy
              span  of Yapper.
          
          label.error-text(for="policies")

      .btn-group.reverse
        button#submit.btn.primary Create Account 
        button#cancel.btn.outline Go Back 
      
      p 
        span Already have an account?
        a.highlight(href="/login")  Login
      