extends layouts/auth

include components/entry
include svgs/checkbox
include svgs/checkedbox

block scripts 
  script(src="https://unpkg.com/validator@latest/validator.min.js")

  script(type="module", src="/js/forgot-password.js", defer) 

block content 
  main.page 
    header.heading
      h2 Forgot your password?
      p Enter your email and we'll send you steps to reset your password.
    
    form#form
      section.inputs-group 
        +entry("email", "Email", "abc@xyz.com")

      .btn-group.reverse
        button#submit.btn.primary Send Reset Link
      
      p 
        span Remembered your password?
        a.highlight(href="/login")  Login
      