extends layouts/auth

include components/entry

block content 
  main#login-form.page
    ul.line-steps 

    header.heading
      h2 Welcome back
      p Sign in to continue your conversations on Yapper.
    
    form.form
      +entry("email", "Email", "johndoe@example.com")

      +entry("password", "Password", "********", 'password')
      
      a.bold(href="/change-password") Forgot your password?  

      .btn-group
        button.btn.primary Login 
