extends layouts/static

include svgs/server-error-illustration

block page-styles 
  link(rel="stylesheet", href="/css/landing.css")

block content 
  main.hero 
    section.copy 
      h1 Something broke on our side.

      p The server ran into an unexpected issue. Don't worry — this happens often in hobby projects like Yapper.

      p Try again in a moment. If the error keeps showing, you can safely assume we're fixing things… or accidentally breaking them again.

      .btn-group.reverse
        a.btn.primary(href="/") Reload Page
        a.btn.outline(href="https://zain-khoso.vercel.app", target="_blank") Founder 
    
    +serverErrorIllustration