extends layouts/app

block content
  main#app 
    header.app-head 
      h2 Settings 

      .dropdown 
        button 
          span.material-icons more_vert
        
        ul.dropdown-list.right
          li.dropdown-item
            span.material-icons chat
            a(href="/chat") Chat
          
          li.dropdown-item
            span.material-icons call
            a(href="/calls") Calls
          
          li.dropdown-item
            span.material-icons settings
            a(href="/settings") Settings

    section.settings-group 
      span.bold Account 

      ul.settings 
        li#setting-picture.setting-item 
          input#file-pfp(type="file", accept="image/*")
          
          label.placeholder(for="file-pfp") 
            span.material-icons person

          label(for="file-pfp")
            img.preview.hidden

          button.btn.outline Change

        li#setting-email.setting-item 
          p.setting-label 
            span.setting-name Email: 
            span.setting-value ...

          a.btn.outline(href="/change-email") Change

        li#setting-displayName.setting-item 
          p.setting-label 
            span.setting-name Name: 
            span.setting-value ...

          button.btn.outline Change

        li#setting-password.setting-item 
          p.setting-label 
            span.setting-name Password: 
            span.setting-value ********

          a.btn.outline(href="/change-password") Change

        li#setting-subscription.setting-item 
          p.setting-label 
            span.setting-name  
            span.setting-value Subscription

          button.btn.outline Manage 

        li#setting-logout.setting-item 
          p.setting-label 
            span.setting-name 
            span.setting-value Logout

          button.btn.danger Logout

        li#setting-delete.setting-item 
          p.setting-label 
            span.setting-name  
            span.setting-value Account Deletion

          button.btn.danger Delete 

    section.settings-group 
      span.bold Personalization 

      ul.settings 
        li#setting-theme.setting-item 
          p.setting-label 
            span.setting-name Theme: 
            span.setting-value Light

          button.btn.outline Change
