extends layouts/auth

include components/entry

block content 
  main#signup-steps.page
    ul.line-steps 

    header.heading
      h2 Enter your email
      p We'll use your email to create your account and send a one-time verification code.
    
    form.form
      +entry("email", "Email", "johndoe@example.com")
      
      p 
        span Already have an account? 
        a.bold(href="/login") Login 

      .btn-group
        button.btn.primary Continue 
    
    form.form.hidden
      +entry("otp", "Verification code", "")
      
      p 
        span Didn't get the code? 
        button.bold(type="button") Resend

      .btn-group.reverse
        button.btn.primary Continue 
        button.btn.outline.back(type="button") Back 
    
    form.form.hidden
      .picture-input 
        input#file-pfp(type="file", accept="image/*")

        label.placeholder(for="file-pfp") 
          span.material-icons person

        img.preview.hidden

        label.btn.outline(for="file-pfp") Upload Picture

      +entry("displayName", "Display name", "John Doe")

      +entry("password", "Password", "********", 'password')

      +entry("confirmPassword", "Confirm Password", "********", 'password')

      .entry
        input#checkbox-tac(type="checkbox")

        label.checkbox(for="checkbox-tac") 
          span.material-icons.unchecked check_box_outline_blank
          span.material-icons.checked check_box
          
          p 
            span.inherit I accept these 
            a(href="/assets/terms-and-conditions.pdf", download="Yapper - Terms and Conditions.pdf") Terms and Condition 
            span.inherit of Yapper.
        
        label.error-text(for="#checkbox-tac")

      .entry
        input#checkbox-pp(type="checkbox")

        label.checkbox(for="checkbox-pp") 
          span.material-icons.unchecked check_box_outline_blank
          span.material-icons.checked check_box
          
          p 
            span.inherit I accept this 
            a(href="/assets/privacy-policy.pdf", download="Yapper - Privacy Policy.pdf") Privacy Policy 
            span.inherit of Yapper.
        
        label.error-text(for="#checkbox-pp")

      .btn-group
        button.btn.primary Create Account 
