.avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  overflow: hidden;
}

.avatar.image img {
  display: block;

  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.avatar.fallback {
  display: grid;
  place-items: center;

  background-color: var(--color-foreground-secondary);
  overflow: hidden;
}

.avatar.fallback .initial {
  font-size: 2rem;
  font-weight: 600;
  color: var(--color-background);
  user-select: none;
}
