.avatar {
  display: grid;
  place-items: center;

  width: 3rem;
  height: 3rem;
  background-color: var(--color-foreground-secondary);
  border-radius: 50%;
  overflow: hidden;
}

.avatar.active {
  background-color: var(--color-foreground);
}

.avatar .initial {
  font-size: 2rem;
  font-weight: 600;
  color: var(--color-background);
  user-select: none;
}
