.chat-controls {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  width: 100%;
  max-width: 380px;
  height: 100%;
  background-color: var(--color-background);
  border-left: 2px solid var(--color-foreground-secondary);
  border-right: 2px solid var(--color-foreground-secondary);
  z-index: 10;
  transition: left 300ms ease-in;

  .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 1.5rem;

    button {
      margin-inline: 0;
    }

    .dropdown {
      display: none;
    }
  }

  button {
    margin-inline: 1.5rem;
  }

  .chats-list {
    flex: 1;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 0.5rem;
    }

    &::-webkit-scrollbar-track {
      background: var(--color-background);
      border-radius: 0.25rem;
    }

    &::-webkit-scrollbar-thumb {
      background: var(--color-foreground-secondary);
      border-radius: 0.25rem;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: var(--color-foreground);
    }

    .chat {
      display: flex;
      align-items: center;
      gap: 0.75rem;

      max-width: 100%;
      padding-block: 0.75rem;
      padding-inline: 1.5rem;
      cursor: pointer;
      overflow-x: hidden;

      &:hover,
      &.active {
        background-color: var(--color-background-secondary);
      }

      .user-content {
        flex: 1;
        display: flex;
        flex-direction: column;

        overflow-x: hidden;
        gap: 0.25rem;

        .title {
          display: flex;
          justify-content: space-between;

          .last-spoke {
            font-size: 0.75rem;
            font-weight: 300;
          }
        }

        .subtitle {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 0.25rem;

          overflow-x: hidden;

          .last-message {
            font-size: 0.75rem;
            font-weight: 300;
            color: var(--color-foreground-secondary);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          .new-message-count {
            display: none;
            place-items: center;

            font-size: 0.75rem;
            font-weight: 800;
            color: var(--color-background);
            background-color: var(--color-foreground-secondary);
            padding: 0.25rem 0.5rem;
            border-radius: 50%;
          }
        }
      }

      &.unread .user-content .subtitle .new-message-count {
        display: grid;
      }
    }
  }
}

.chatapp {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  width: 100%;
  height: 100%;
  background-color: var(--color-background);
  overflow-x: hidden;

  .head {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    padding-bottom: 1.5rem;
    border-bottom: 2px solid var(--color-foreground-secondary);

    button {
      display: grid;
      place-items: center;
    }

    .left {
      display: flex;
      align-items: center;
      gap: 0.75rem;

      overflow-x: hidden;

      #btn-open-sidenav {
        display: none;
      }

      #app-user-displayName {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    > .right {
      display: flex;
      align-items: center;
      gap: 1.5rem;

      .icon-btn .material-icons {
        font-size: xx-large;
      }
    }

    #dropdown-mobile-chat-options {
      display: none;
    }
  }

  .messages {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    width: 100%;
    height: 100%;
    overflow-y: auto;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
      width: 0.5rem;
    }

    &::-webkit-scrollbar-track {
      background: var(--color-background);
      border-radius: 0.25rem;
    }

    &::-webkit-scrollbar-thumb {
      background: var(--color-foreground);
      border-radius: 0.25rem;
    }

    .message-wrapper {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;

      width: 100%;
      min-height: fit-content;

      &:not(:has(.message-box), :has(.date-separator)) {
        display: none;
      }

      &.left {
        align-items: start;

        .message-box {
          align-items: start;

          color: var(--color-foreground);
          background-color: var(--color-background-secondary);

          &:first-child {
            border-top-left-radius: 0;
          }

          .message-text {
            color: var(--color-foreground);

            a {
              font-weight: 600;
              text-decoration: underline;
              text-underline-offset: 0.25rem;
              color: var(--color-foreground);
            }
          }

          .file .details {
            color: var(--color-foreground);
          }

          .time-text {
            font-size: 0.75rem;
            color: var(--color-foreground);
          }
        }
      }

      &.center {
        align-items: center;
      }

      &.right {
        align-items: end;

        .message-box {
          align-items: end;

          color: var(--color-background);
          background-color: var(--color-foreground-secondary);

          &:first-child {
            border-top-right-radius: 0;
          }

          .message-text {
            color: var(--color-background);

            a {
              font-weight: 600;
              text-decoration: underline;
              text-underline-offset: 0.25rem;
              color: var(--color-background);
            }
          }

          .file {
            color: var(--color-background);

            .details {
              color: var(--color-background);
            }
          }

          .time-text {
            font-size: 0.75rem;
            color: var(--color-background);
          }
        }
      }

      .date-separator {
        display: grid;
        place-items: center;

        color: var(--color-background);
        background-color: var(--color-foreground-secondary);
        padding: 0.5rem 0.75rem;
        border-radius: 2rem;
      }

      .message-box {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;

        width: fit-content;
        max-width: 480px;
        padding: 0.75rem;
        border-radius: 0.5rem;
        overflow-x: hidden;

        .message-text {
          width: 100%;
          overflow-x: hidden;
          overflow-wrap: anywhere;
          hyphens: auto;
        }

        .file {
          width: 100%;
          display: flex;
          gap: 0.5rem;

          color: var(--color-foreground);
          overflow-x: hidden;

          .details {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 0.25rem;

            overflow-x: hidden;

            .title {
              width: 100%;

              font-weight: 800;
              white-space: nowrap;
              overflow-x: hidden;
              text-overflow: ellipsis;
              cursor: pointer;
            }

            .subtitle {
              font-size: 14px;
            }
          }
        }
      }
    }
  }

  .controller {
    display: flex;
    align-items: center;
    gap: 1rem;

    width: 100%;
    max-width: 768px;
    margin-inline: auto;

    .file-label {
      display: grid;
      place-items: center;

      width: 1.5rem;
      height: 1.5rem;
      overflow: hidden;
      cursor: pointer;

      .material-icons {
        color: var(--color-foreground-secondary);

        &:hover,
        &:focus {
          color: var(--color-foreground);
        }
      }

      #message-file-input {
        position: fixed;
        left: -9999px;
      }
    }

    .text-input {
      flex: 1;

      resize: none;
      padding: 0.5rem 1rem;
      border: 2px solid var(--color-foreground-secondary);
      border-radius: 0.5rem;
      overflow-y: auto;

      &::-webkit-scrollbar {
        width: 10px;
      }

      &::-webkit-scrollbar-track {
        background: var(--color-background);
        border-radius: 10px;
      }

      &::-webkit-scrollbar-thumb {
        background: var(--color-foreground-secondary);
        border-radius: 10px;
        border: 2px solid var(--color-background-secondary);
      }

      &::-webkit-scrollbar-thumb:hover {
        background: var(--color-foreground);
      }

      &:focus {
        border: 2px solid var(--color-foreground);
      }
    }

    .send {
      display: grid;
      place-items: center;

      width: 2.5rem;
      height: 2.5rem;
      padding: 0.5rem;
      border-radius: 0.5rem;
      background-color: var(--color-foreground-secondary);

      &:hover,
      &:focus {
        background-color: var(--color-foreground);
      }

      .material-icons {
        color: var(--color-background);
      }
    }
  }
}

.chatapp-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;

  width: 100%;
  height: 100%;
  background-color: var(--color-background);

  p {
    width: 100%;
    max-width: 768px;
    text-align: center;
  }

  .illustration {
    width: 100%;
    max-width: 480px;
  }
}

@media screen and (max-width: 1024px) {
  .chat-controls {
    max-width: 320px;
  }

  .chatapp .head {
    .right {
      display: none;
    }

    #dropdown-mobile-chat-options {
      display: block;
    }
  }
}

@media screen and (max-width: 768px) {
  .chat-controls {
    position: fixed;
    top: 0;
    left: 0;

    max-width: none;
    border: none;

    &.hide {
      left: -100%;
    }

    .head {
      margin-top: 1rem;

      .dropdown {
        display: block;
      }
    }
  }

  .chatapp {
    gap: 1rem;

    .head {
      padding-inline: 1rem;
      padding-bottom: 1rem;

      .left #btn-open-sidenav {
        display: grid;
      }
    }

    .messages,
    .controller {
      padding-inline: 1rem;
    }
  }
}
