.chat-controls {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  width: 100%;
  max-width: 380px;
  height: 100%;
  background-color: var(--color-background);
  border-left: 2px solid var(--color-foreground-secondary);
  border-right: 2px solid var(--color-foreground-secondary);

  .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 1.5rem;

    button {
      margin-inline: 0;
    }

    .dropdown {
      display: none;
    }
  }

  button {
    margin-inline: 1.5rem;
  }

  .chats-list {
    flex: 1;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 0.5rem;
    }

    &::-webkit-scrollbar-track {
      background: var(--color-background);
      border-radius: 0.25rem;
    }

    &::-webkit-scrollbar-thumb {
      background: var(--color-foreground-secondary);
      border-radius: 0.25rem;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: var(--color-foreground);
    }

    .chat {
      display: flex;
      align-items: center;
      gap: 0.75rem;

      max-width: 100%;
      padding-block: 0.75rem;
      padding-inline: 1.5rem;
      cursor: pointer;
      overflow-x: hidden;

      &:hover,
      &.active {
        background-color: var(--color-background-secondary);
      }

      .user-content {
        flex: 1;
        display: flex;
        flex-direction: column;

        overflow-x: hidden;
        gap: 0.25rem;

        .title {
          display: flex;
          justify-content: space-between;

          .last-spoke {
            font-size: 0.75rem;
            font-weight: 300;
          }
        }

        .subtitle {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 0.25rem;

          overflow-x: hidden;

          .last-message {
            font-size: 0.75rem;
            font-weight: 300;
            color: var(--color-foreground-secondary);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          .new-message-count {
            display: none;
            place-items: center;

            font-size: 0.75rem;
            font-weight: 800;
            color: var(--color-background);
            background-color: var(--color-foreground-secondary);
            padding: 0.25rem 0.5rem;
            border-radius: 50%;
          }
        }
      }

      &.unread .user-content .subtitle .new-message-count {
        display: grid;
      }
    }
  }
}

.chatapp-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;

  width: 100%;
  height: 100%;
  background-color: var(--color-background);

  p {
    width: 100%;
    max-width: 768px;
    text-align: center;
  }

  .illustration {
    width: 100%;
    max-width: 480px;
  }
}

@media screen and (max-width: 1024px) {
  .chat-controls {
    max-width: 320px;
  }
}

@media screen and (max-width: 768px) {
  .chat-controls {
    position: fixed;
    top: 0;
    left: 0;

    max-width: none;
    border: none;

    .head {
      margin-top: 1rem;

      .dropdown {
        display: block;
      }
    }
  }
}
