#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;

  width: 100%;
  height: 100%;
  background-color: var(--color-background);
  padding-left: 1.5rem;
  border-left: 2px solid var(--color-foreground-secondary);
  overflow-y: auto;
}

#app .app-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  width: 100%;
  padding-bottom: 1.5rem;
  border-bottom: 2px solid var(--color-foreground-secondary);
}

#app .app-head button {
  display: none;
  place-items: center;
}

#app .app-head button .material-icons {
  font-size: x-large;
  color: var(--color-foreground-secondary);
}

#app .settings-group {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  width: 100%;
  padding: 1rem;
  border: 2px solid var(--color-foreground-secondary);
  border-radius: 0.5rem;
}

#app .settings-group .settings {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  width: 100%;
}

#app .settings-group .settings .setting-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  width: 100%;
}

#app .settings-group .settings .setting-item .setting-label {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 0.25rem;

  min-width: 0;
}

#app .settings-group .settings .setting-item .setting-label .setting-name {
  font-weight: 300;
}

#app .settings-group .settings .setting-item .setting-label .setting-value {
  flex: 1;

  font-weight: 600;
  color: var(--color-foreground);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 1024px) {
  #app .app-head h2 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  #app {
    width: 100%;
    height: 100%;
    padding-left: 0;
    border-left: none;
  }

  #app .app-head {
    padding: 1rem;
    padding-top: 0;
  }

  #app .app-head button {
    display: grid;
  }

  #app .settings-group {
    width: calc(100% - 2rem);
  }
}
