body {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.page {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  width: 100%;
  max-width: 1280px;
  margin-inline: auto;
  padding-bottom: 4rem;
}

.page .line-steps {
  display: flex;
  gap: 1rem;

  width: 100%;
  height: 0.8rem;
  max-width: 768px;
}

.page .line-steps .line-step {
  flex: 1;

  background-color: var(--color-background-secondary);
  border-radius: 0.5rem;
}

.page .line-steps .line-step.active {
  background-color: var(--color-foreground-secondary);
}

.page .heading {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  width: 100%;
  max-width: 768px;
}

.page .form {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 2rem;

  width: 100%;
  max-width: 768px;
}

.page .form .btn-group {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .page #form {
    align-items: center;
  }

  .page #form .btn-group .btn:last-child {
    display: none;
  }
}
