/* Color Scheme Setup */

/* Custom Color Propertise */
:root {
  --color-light: #fff8d4;
  --color-light-secondary: #a3b087;
  --color-dark: #313647;
  --color-dark-secondary: #435663;
  --color-success: #1f7d53;
  --color-danger: #f7374f;
}

:root {
  --color-background: var(--color-light);
  --color-background-secondary: var(--color-light-secondary);
  --color-foreground: var(--color-dark);
  --color-foreground-secondary: var(--color-dark-secondary);
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--color-dark);
    --color-background-secondary: var(--color-dark-secondary);
    --color-foreground: var(--color-light);
    --color-foreground-secondary: var(--color-light-secondary);
  }

  #theme-value::after {
    content: 'Darkmode';
  }
}

/* Light Mode */
:root[data-theme='light'] {
  --color-background: var(--color-light);
  --color-background-secondary: var(--color-light-secondary);
  --color-foreground: var(--color-dark);
  --color-foreground-secondary: var(--color-dark-secondary);
}

/* Dark Mode */
:root[data-theme='dark'] {
  --color-background: var(--color-dark);
  --color-background-secondary: var(--color-dark-secondary);
  --color-foreground: var(--color-light);
  --color-foreground-secondary: var(--color-light-secondary);
}

/* Global Style Reset */
* {
  box-sizing: border-box;
  background-color: transparent;
  padding: 0;
  border: none;
  border-radius: 0;
  outline: none;
  margin: 0;

  font-size: 16px;
  font-weight: 400;
  font-family: 'Nunito', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: var(--color-foreground);
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  scroll-margin-block: 5rem;
}

*::selection {
  color: var(--color-background);
  background-color: var(--color-foreground);
}

body {
  width: 100dvw;
  background-color: var(--color-background);
  padding: 1.5rem 1rem;
  overflow-x: hidden;
}

body.swal2-height-auto.swal2-height-auto {
  height: 100dvh !important;
}

h1 {
  font-family: 'Alexandria', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 3rem;
}

h2 {
  font-family: 'Alexandria', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 2rem;
}

h3 {
  font-family: 'Alexandria', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 1.5rem;
  letter-spacing: 1.5px;
}

h4 {
  font-family: 'Alexandria', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 1rem;
}

p {
  text-align: justify;
  color: var(--color-foreground-secondary);
  line-height: 180%;
}

p:first-of-type {
  margin-bottom: 0.5rem;
}

p:last-of-type {
  margin-top: 0.5rem;
}

p:not(:first-of-type) + p:not(:last-of-type) {
  margin-block: 0.5rem;
}

p:only-of-type {
  margin-block: 0;
}

a {
  font: inherit;
}

span {
  font-weight: 200;
}

.inherit {
  font: inherit;
  color: inherit;
}

.small {
  font-size: 0.75rem;
}

.bold {
  color: var(--color-foreground);
  font-weight: 600;
}

.container {
  max-width: 1280px;
  margin-inline: auto;
}

.underline {
  text-decoration: underline;
}

.hidden {
  display: none !important;
}

.separator {
  background-color: var(--color-foreground);
  border-radius: 1px;
}

.horizontal {
  width: 100%;
  max-width: 1280px;
  height: 1px;
  margin-inline: auto;
}

.font-alex {
  font-family: 'Alexandria', sans-serif;
  letter-spacing: 0.75px;
}

.material-icons {
  user-select: none;
}

@media screen and (max-width: 768px) {
  body {
    padding: 1rem;
  }

  h1 {
    font-size: 2rem;
  }
}
