body {
  display: flex;
  flex-direction: column;
  gap: 8rem;

  width: 100dvw;
  height: fit-content;
  min-height: 100dvh;
}

.hero {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  width: 100%;
  min-height: 100dvh;
}
