extends index

block body 
  body.page
    nav.page-controls 
      .controls  
        a.control(href="/chat")
          span(class=`material-icons ${bundleName==="chat" ? "active" : ""}`) chat

        a.control(href="/calls")
          span(class=`material-icons ${bundleName==="calls" ? "active" : ""}`) call
       
      .controls  
        a.control(href="/settings")
          span(class=`material-icons ${bundleName==="settings" ? "active" : ""}`) settings

    block content