extends root

include ../svgs/message-box
include ../svgs/phone
include ../svgs/settings
include ../svgs/search
include ../svgs/more-vertical

block styles 
  link(rel="stylesheet", href="/css/app.css")

  block page-styles 

block body 
  body.app 
    nav.left-bar 
      .controls  
        a.control(href="/chat")
          +messageBox('icon', 
            path === 'chat' ? 'fill-foreground' : 'fill-foreground-secondary', path ===  'chat' ?  'stroke-foreground' : 'stroke-foreground-secondary')
        a.control(href="/calls")
          +phone('icon', path === 'calls' ? 'fill-foreground' : 'fill-foreground-secondary', path === 'calls' ?  'stroke-foreground' : 'stroke-foreground-secondary')
       
      .controls  
        a.control(href="/settings")
          +setting('icon', path === 'settings' ? 'fill-foreground' : 'fill-foreground-secondary', path === 'settings' ?  'stroke-foreground' : 'stroke-foreground-secondary')
        a.control(href="/settings/account")
          div(class=`${path === 'account' ? 'user-icon active' : 'user-icon'}`)
            span.user-initial Z

    aside.app-controls 
      header.head 
        .wrapper 
          h2 #{heading}

          button 
            +moreVertical('icon', 'fill-foreground-secondary', 'stroke-foreground-secondary')

        if path === 'chat'
          form#user-search.searchbar 
            +search('icon', 'fill-foreground-secondary', 'stroke-foreground-secondary')
            input#search-query.search-input(type="text", placeholder="Search")
      
      block page-controls 

    main.content-wrapper 
      block content