include ../components/metadata.pug

doctype html
html(lang="en")
  head
    +metadata(metadata)
    
    //- Styles
    link(rel="stylesheet", href="/css/index.css")
    
    block styles 

    //- Scripts.
    script(src="https://cdn.jsdelivr.net/npm/sweetalert2@11") 
    script(src="https://cdn.jsdelivr.net/npm/axios@1.6.7/dist/axios.min.js")
    script(src="/js/utils.js", defer) 
    script(src="/js/theme.js", type="module", defer) 

    block scripts 
  
  block body  