include ../components/metadata.pug

doctype html
html(lang="en")
  head
    +metadata(metadata)
    
    //- Styles
    link(rel="stylesheet", href="/css/index.css")
    
    block styles 

    block scripts 
  
  block body  