extends index

include ../components/navbar

block append styles 
  link(rel="stylesheet", href="/css/utils/static.css")
  link(rel="stylesheet", href="/css/components/svg.css")
  link(rel="stylesheet", href="/css/components/button.css")

block body 
  body
    header.hero 
      +navbar 

      block hero-content 
  
  block content