extends root

include ../components/navbar

block styles 
  link(rel="stylesheet", href="/css/static.css")
  link(rel="stylesheet", href="/css/navbar.css")

  block page-styles 

block body 
  body
    +navbar 

    block content 